*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
    
    font-family: 'Edu VIC WA NT Beginner', cursive;
}


.container{
    max-width: 80% ;
   
    padding: 44px ;
    margin: auto;

}
.container h1 , p{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 20px;
}
input , textarea{

   font-size: 25px;
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    border: solid black;
    border-radius : 44px ;

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color:aliceblue;
    background-color: purple;
    padding: 7px 25px ;
    font-size: 20px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 20px;
} 
.bg{ 
    height: 150%;
    width: 100%;
    position: absolute;
    z-index: -1 ;
    opacity: 0.8;

}      
.submitmsg{
    color: green;
    font-size: 25px;
}
.prince{
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 19%;
    position: absolute;
    border: 0px;
    border-radius: 200px;
}
                  